ACTION=="add", \
KERNEL=="ttyUSB*", \
NAME="ddt-motor", \
SUBSYSTEM=="usb" ,\
ATTRS{idVendor}=="0403", \
ATTRS{idProduct}=="6001", \
GROUP="plugdev", \
SYMLINK+="ddt-motor", \
MODE="666", \
RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
